body{
  background-color: #2c3e50;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5{
  font-weight: bold;
}

.container{
  width: 100%;
}

.jumbotron{
  padding: 0px 0px 20px 0px;
  color: #ecf0f1;
  background-color: #2c3e50;
  padding-left:20px;
  padding-right:20px;
}

.jumbotron button{
  color: black;
  margin-top: 5px;
  margin-right: 3px;
}

#data{
  /*background-color: #fce2ba;*/
  margin-bottom: 10px;
}

#dataTransmission{
  padding-bottom: 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: #34495e 4px;
  border-style: solid;
}
#dataTransmission button{
  border: 0;
  background-color: #f39c12;
}

#dataTransmission button.active{
  background-color: #f9cb82;
}

#inter{
  /*background-color: #cae4f6;*/

}

#internet{
  padding-bottom: 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: #34495e 4px;
  border-style: solid;
}

#internet button{
  border: 0;
  background-color: #3498db;
}

#internet button.active{
  border: 0;
  background-color: #98cbed;
}

#compSci{
  padding-bottom: 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: #34495e 4px;
  border-style: solid;
}

#compSci button{
  border: 0;
  background-color: #9b59b6;
}

#compSci button.active{
  border: 0;
  background-color: #d3a6e6;
}

.row{
  margin: 0px;
}

.panel{
  margin: 10px;
}
.panel-col{
    display:none;
}

.panel-data{
  border-color: #f39c12;

}
.panel-data > .panel-heading{
  color: black;
  background-color: #f39c12;
}

.panel-data > .panel-body{
  background-color: #fce3bc;
}

/**/

.panel-internet{
  border-color: #3498db;

}
.panel-internet > .panel-heading{
  color: black;
  background-color: #3498db;
}

.panel-internet > .panel-body{
  background-color: #cce5f6;
}

/**/

.panel-comp{
  border-color: #9b59b6;

}
.panel-comp > .panel-heading{
  color: black;
  background-color: #9b59b6;
}

.panel-comp > .panel-body{
  background-color: #dab6e8;
}
