body{
  background-color: #2c3e50;
  overflow-y: scroll;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, button{
  font-weight: bold;
}

.container{
  width: 100%;
}

.jumbotron{
  color: #ecf0f1;
  background-color: #2c3e50;
  padding-top: 0px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:10px;
  margin-bottom: 0;
}

.jumbotron button{
  color: black;
  margin-top: 5px;
  margin-right: 3px;
}

#title, #help{
  /*padding: 0;*/
}
/*-----------------------------
      Buttons & Headers
-----------------------------*/

/*General*/
#dataTransmission, #internet, #compSci{
  padding-bottom: 10px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: #34495e 4px;
  border-style: solid;
}

/*Data Transmission - Buttons*/
#dataTransmission button{
  border: 0;
  background-color: #f39c12;
}

#dataTransmission button.active{
  background-color: #f9cb82;
}

/*Internet - Buttons*/
#internet button{
  border: 0;
  background-color: #3498db;
}

#internet button.active{
  border: 0;
  background-color: #98cbed;
}

/*Computer Science - Buttons*/
#compSci button{
  border: 0;
  background-color: #9b59b6;
}

#compSci button.active{
  border: 0;
  background-color: #d3a6e6;
}

/*Computer Science - Buttons*/
#misc button{
  border: 0;
  background-color: #c0392b;
}

#misc button.active{
  border: 0;
  background-color: #C6847D;
}

/*----------------------
        Panels
----------------------*/

/*General Panels*/
.row{
  margin: 0px;
}

.panel{
  margin: 10px;
  border-radius: 0;
}

.panel, .panel-heading, .panel-body{
  border-radius: 0;
}
.panel-col{
  display:none;
}

/*Data Transmission - Panels*/
.panel-data{
  border-color: #f39c12;

}
.panel-data > .panel-heading{
  color: black;
  background-color: #f39c12;
}

.panel-data > .panel-body{
  background-color: #fce3bc;
}

/*Internet - Panels*/
.panel-internet{
  border-color: #3498db;

}
.panel-internet > .panel-heading{
  color: black;
  background-color: #3498db;
}

.panel-internet > .panel-body{
  background-color: #cce5f6;
}

/*Computer Science - Panels*/
.panel-comp{
  border-color: #9b59b6;

}
.panel-comp > .panel-heading{
  color: black;
  background-color: #9b59b6;
}

.panel-comp > .panel-body{
  background-color: #dab6e8;
}

/*Internet - Panels*/
.panel-misc{
  color: black;
  margin: 0;
  margin-top: 20px;
  border-color: #c0392b;

}
.panel-misc > .panel-heading{
  color: black;
  background-color: #c0392b;
}

.panel-misc > .panel-body{
  background-color: #C6847D;
}
